@import "tailwindcss";


body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: white;
    background-color: #09090B;
    overflow: hidden;
}

input,label,.forgot-password,.div_signup_text,.div_lang,.div_langs {
    font-family: 'Geist',sans-serif;
}

.inputs_div input:not(:last-child) {
    border-right: 1px;
}

.container {
    @apply w-full max-w-[calc(100%-100px)] mx-auto;

}
